* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

body {
  background-color: black;
  color: whitesmoke;
  /* text-align: center; */
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  background: white;
  border: none;
  /* color: black; */
  border-radius: 5px;
}

.input-wrap {
  display: flex;
  padding: 10px 20px;
  gap: 10px;
}

#todo {
  width: 100%;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #212121;
  border: none;
  color: white;
}

#todo:focus {
  outline: none;
}

.completed {
  text-decoration-line: line-through;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  background-color: #101010;
  padding: 10px 20px;
  min-width: 90%;
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-wrap {
  
}

.complete-button {
  background-color: green;
}

.fa-check {
  color: #fff;
}

.delete-button {
  background-color: red;
}
.fa-x {
  color: #fff;
}
